/* aside */
.aside
{
    width: 270px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px;
    height: 100%;
    z-index: 10;
    background: var(--bg-black-100);
    border-right: 1px solid var(--bg-black-50);
    display: flex;
    align-items: center;
    justify-content: center;
}
.aside .logo
{
    position: absolute;
    top: 35px;
    font-size: 25px;
    text-transform: capitalize;
}
.aside .logo a
{
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 20px;
    letter-spacing: 2px;
    position: relative;
    font-family: 'Sedgwick Ave Display', cursive;
}
.aside .logo a::before
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color); 
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}
.aside .logo a::after
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color); 
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
}
.aside .nav-toggler
{
    position: fixed;
    top: 20px;
    left: 300px;
    width: 45px;
    height: 40px;
    border: 1px solid var(--bg-black-50);
    background: var(--bg-black-100);
    border-radius: 5px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
}
.aside .nav-toggler span
{
    width: 18px;
    height: 2px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}
.aside .nav-toggler span::before
{
    content: '';
    position: absolute;
    width: 18px;
    height: 2px;
    background: var(--skin-color);
    top: -6px;  
    left: 0;
}
.aside .nav-toggler span::after
{
    content: '';
    position: absolute;
    width: 18px;
    height: 2px;
    background: var(--skin-color);
    top: 6px;
}
.aside .nav
{
    margin-top: 120px;
}
.aside .nav li
{
    margin-bottom: 20px;
    display: block;

}
.aside .nav li a
{
    color: var(--text-black-900);
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    padding: 5px 15px;
}
.aside .nav li a.active
{
    color: var(--skin-color);
}
.aside .nav li a i
{
    margin-right: 15px;
}



